/* To add a new font from Google fonts just go to google fonts, select the font family and in the download part select "Use on the web @import" */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto';
    margin: 0; /* Whitout this the header would have a white border around the background-color */
}

a, .subtext{
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.header, .information, .quote, .call {
    height: 450px;
}

/* Style for the header section - beginning */
.header {
    background-color: #1F2937;
    padding: 0px 220px;
}

.top {
    display: flex;
    align-items: center;
    gap: 25px;
}

.pusher {
    margin-left: auto;
}

.intro {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    width: 1000px;
    height: 200px;
    margin-top: 45px;
    color: white;
    background-color: gray;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: -20px;
}

h3{
    font-size: 24px;
    color: #F9FAF8;
}

.header-sign-up {
    background-color:#3882F6;
    padding: 8px 16px;
    border-radius: 5px;
}
/* Style for the header section - end */

/* Style for the information section - beginning */
.information {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

.box {
    max-width: 160px;
}

.box-image {
    width: 160px;
    height: 160px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.box-text {
    color: gray;
    margin-top: 12px;
}
/* Style for the information section - end */

/* Style for the quote section - beginning */
.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.container-quote {
    height: 300px;
    width: 790px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
}

.signature {
    font-size: 21px;
    margin-right: 60px;
    margin-top: -70px;
}
/* Style for the quote section - end */

/* Style for the call to action section - start */
.call {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-call{
    height: 180px;
    width: 1000px;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-call {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    color: #F9FAF8;
    font-size: 18px;
}

.action {
    font-size: 24px;
    margin-bottom: -10px;
}

.sign-up {
    background-color:#3882F6;
    padding: 8px 30px;
    border-radius: 5px;
    border: 2px solid #E5E7EB;
    margin-left: 100px;
}
/* Style for the call to action section - end */

/* Style for the footer section - start */
.footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Style for the footer section - end */